<div class="nav">
    <ul id="menu-menu" class="menu">
        <% for (var i in theme.menu){ %>
        <li class="animated fadeInDown menu-item menu-item-type-post_type menu-item-object-page">
            <%- link_to(theme.menu[i].lastIndexOf('/') > 0 ? theme.menu[i] : theme.menu[i] + '/', i, {external: false})%>
        </li>
        <%}%>
    </ul>
    <p class="copyright" id="copyright" style="bottom: 60px">
        &copy; <%= theme.since %> - <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
        Powered by Hexo
        Theme Obsidian
    </p>
    <p class="copyright">
        <a href="https://beian.miit.gov.cn" class="icp" target="_blank" rel="external nofollow">皖ICP备16025014号-2</a>
    </p>
</div>
